*/report/out/_minted
*/report/out/main.aux
*/report/out/main.fdb_latexmk
*/report/out/main.fls
*/report/out/main.log
*/report/out/main.out
*/report/out/main.synctex.gz
*/report/out/main.toc
*/report/out/main.lof
*/report/out/main.lot
*/report/out/main.bbl
*/report/out/main.blg
*/report/out/main.idx
*/report/out/main.ind
*/report/out/main.ilg
*/report/out/main.nav
*/report/out/main.snm
.DS_Store